/* styles.css */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

textarea {
    resize: none;
}

.result-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.btn-primary {
    margin-top: 10px;
}
